body {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: rgb(20, 25, 35);
    margin: 0;
}


h4 {
    font-family: 'Josefin Sans', sans-serif;
    
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: local('Darker Grotesque'),
        url('../fonts/DarkerGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src:  local('Darker Grotesque'),
        url('../fonts/DarkerGrotesque-SemiBold.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: local('Darker Grotesque'),
        url('../fonts/DarkerGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Darker Grotesque'),
        url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.header {
    margin-left: 40px;
    width: 1140px;
    height: 150px;
}

.header__logo {
    width: 120px;
    height: 27px;
    justify-content: left;
    margin-left: 20px;
    margin-top: 45px;
}

.header__list {
   display: flex;
   justify-content: space-between;
   justify-content: right;
   margin-right: 10px;
   font-weight: 500;
   font-size: 20px;
   line-height: 27px;
}

.header__list a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    margin-top: 25px;
}

.rtcinema {
    height: 500px;
}

.oa__txt {
    width: 455px;
    height: 27px;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B2B2D3;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 40px;
}

.rc__txt {
    width: 455px;
    height: 60px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 40px;
}

.mn__txt {
    width: 455px;
    height: 86px;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #B2B2D3;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 40px;
}

.rtcinema__img {
    position: absolute;
    right: 0;
    width: 750px;
    height: 400px;
}

.btn {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 14px 40px 18px;
    gap: 10px;
    position: absolute;
    width: 204px;
    height: 59px;
    color: white;
}

.btn a {
    font-family: 'Darker Grotesque';
    text-decoration: none;
}


.btn__blue {
    display: flex;
    background: #40467C;
    margin-left: 70px;
    width: 190px;
    height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.btn__white {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    margin-left: 530px;
    padding: 14px 40px 18px;
    gap: 10px;
    width: 204px;
    height: 60px;
    font-size: 17px;
    line-height: 23px;
    background: rgba(20, 25, 35, 0.01);
    border: 2px solid #FFFFFF;
}

.benefits {
    width: 1242px;
    height: 524px;
    display: flex;
    margin-left: 40px;
    background: #1B213A;
    font-family: 'Darker Grotesque';
}

.benefits_h2 {
    position: absolute;
    width: 351px;
    height: 98px;
    left: 680px;
    top: 680px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    color: #FFFFFF;
}

.benefits-table {
    display: grid;
    justify-content: right;
    width: 636px;
    height: 300px;
    margin-left: 40px;
    margin-top: 170px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.benefits-h3 {
    width: 273px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.benefits-p {
    width: 273px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #B2B2D3;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.locations-top {
    justify-content: space-between;
    width: 1140px;
}

.locations-h2 {
    position: absolute;
    width: 302px;
    height: 48px;
    left: 40px;
    top: 1200px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.img-arrow {
    position: absolute;
    width: 20px;
    height: 30px;
    border: 0px solid #40467C;
    flex: none;
    order: 0;
    margin-top: 35px;
    margin-left: 1160px;
    flex-grow: 0;
    padding: 40px;
}

.i-a-right {
    margin-left: 20px;
}

.offers {
    font-family: 'Darker Grotesque';
    justify-content: space-around;
}

.offers-img {
    position: absolute;
    width: 394px;
    height: 394px;
    top: 1320px;
}

.offers-img-left {
    left: 45px;
}

.offers-img-middle {
    left: 490px;
}

.offers-img-right {
    left: 940px;
}

.offers-name-h5 {
    width: 290px;
    height: 38px;
    margin-left: 0px;
    margin-top: 550px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

.offers-name-star {
    width: 16px;
    height: 16px;
    margin-left: 60px;
    margin-top: 565px;
}

.offers-name-p {
    position: absolute;
    width: 25px;
    height: 27px;
    margin-top: -28px;
    margin-left: 85px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.offers-city {
    width: 145px;
    height: 27px;
    margin-left: 0px;
    margin-top: -35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B2B2D3;
}

.offers-price {
    position: absolute;
    width: 150px;
    height: 27px;
    margin-left: 270px;
    margin-top: -35px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}